@import-normalize; /* bring in normalize.css styles */

.App,
h1 {
  text-align: center;
}

header {
  width: 90vw;
  border-top: solid 2px #ddd;
  margin: 1rem auto;
  padding: 1rem;
}

footer {
  text-align: left;
  border: solid 1px #ddd;
  margin: 2rem;
  padding: 2rem;
  background: #f1f1f1;
}

a[target='_blank']:after {
  content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
  margin: 0 3px 0 5px;
  opacity: 0.5;
}
